* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    background:cadetblue;
}

.header {
    padding: 30px;
    text-align: center;
    background-color:aliceblue;
}

.header h1 {
    font-size: 55px;
}

.navigation {
    background-color:indigo;
    overflow: hidden;
}

.navigation a {
    
    color: white;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    background-color:cornflowerblue;
    color: white;
}

.row {
    display: flex;
    margin-top: 20px;
}

.leftColumn {
    width: 75%;
    background-color: aliceblue;
    padding: 20px;
    font-size: 20px;
}

.leftColumn img {
    width: 100%;
}

.rightColumn {
    width: 25%;
    padding: 20px;
    background-color: aliceblue;
    margin-left: 10px;
}

.card {
    background-color:aliceblue;
    padding: 20px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
}




.footer h2{
    font-size: 55px;
}
.footer {
    padding-top: 20px;
    background-color:aliceblue;
    text-align: center;
    padding: 40px;
    font-size: 15px;
    clear: both;
}
